<div class="row">
    <img class="img-header center-block" src="./img/GitHub-Mark-120px-plus.png" />
</div>
<div class="row">
    <div class="jumbotron duration-container">
        <p class="subTitle">It's been</p>
        <span class="duration-number">{{duration.days}}</span> days
        <span class="duration-number">{{duration.hours}}</span> hours
        <span class="duration-number">{{duration.minutes}}</span> minutes
        <span class="duration-number duration-number-small">{{duration.seconds}}</span> seconds
        <p class="subTitle">Since your last GitHub activity...</p>
    </div>
</div>
